
@{
    ViewBag.Title = "CustomerManage";
}

<div class="container-fluid">
            <!--AddCustomer Button Here-->
    <div class="card-group" >
        <div data-toggle="modal" data-target="#customerModal">
            <a href="#" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">Müşteri Ekle</span>
            </a>
        </div>
        <div>
            <a id="btnDeleteCustomer" class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">Sil</span>
            </a>
        </div>
        
        
    </div>
            <!--Customer Table Here-->
<div class="card shadow mb-4">
   <div class="card-header py-3">
       <h6 class="m-0 font-weight-bold text-primary">Müşteriler Tablosu</h6>
   </div>
   <div class="card-body">
       <div class="table-responsive" style="overflow:auto; height:auto; ">
           
                       <table class="table table-hover" id="dataTable" width="50%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                           <thead>
                               <tr role="row">
                                   <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 38px;">Seç</th>
                                   <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 68px;">İsim</th>
                                   <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 93px;">Soyisim</th>
                                   <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 52px;">Adres</th>
                                   <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Telefon</th>
                                   <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Kayıt Tarihi</th>
                               </tr>
                           </thead>
                           <tbody>
                           </tbody>
                       </table>
       </div>
   </div>
</div>
    <div>
       
    </div>
        </div>
<!--AddCustomer Modal-->
<div class="modal fade" id="customerModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Müşteri Ekle</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group"><input id="inputCustomerName" class="form-control form-control-user" placeholder="İsim Giriniz..." required /></div>
                    <div class="form-group"><input id="inputCustomerSurname" class="form-control form-control-user" placeholder="Soyisim Giriniz..." required /></div>
                    <div class="form-group"><input id="inputCustomerAddress" class="form-control form-control-user" placeholder="Adres Giriniz" required /></div>
                    <div class="form-group"><input id="inputCustomerPhone" class="form-control form-control-user" placeholder="Telefon Numarası Giriniz" required /></div>
                    <div class="form-group"><input id="inputCustomerEmail" class="form-control form-control-user" placeholder="Email Adresi Giriniz" /></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <button id="btnAddCustomer" type="button" class="btn btn-primary" data-dismiss="modal">Ekle</button>
                    <button id="btnCloseCustomerModal" type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("tbody > tr").remove();
        createCustomerTable();
    });

    function createCustomerTable() {
        $("tbody > tr").remove();
        $.ajax({
            url: "@Url.Action("GetAllCustomers","Customer")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    var $tr = $('<tr>').click(function (event) {
            if (event.target.type !== 'checkbox') {
                 $(':checkbox', this).trigger('click');
            }
        }).append(
                        $('<td>').html('<input type="checkbox">'),
                        $('<td>').text(item.CustomerName),
                        $('<td>').text(item.CustomerSurname),
                        $('<td>').text(item.CustomerAddress),
                        $('<td>').text(item.CustomerPhone),
                        $('<td>').text(new Date(parseInt(item.RegistrationDate.substr(6))).toLocaleDateString())
                    ).attr("customerID",item.CustomerID).appendTo("#dataTable"); //.appendTo('#records_table');
                    
                });
            }
        })
    }

    $("#btnAddCustomer").on("click", function () {
        
        $.ajax({
            url: "@Url.Action("AddCustomer","Customer")",
            type: "POST",
            dataType: "json",
            data: {
                CustomerName: $("#inputCustomerName").val(),
                CustomerSurname: $("#inputCustomerSurname").val(),
                CustomerPhone: $("#inputCustomerPhone").val(),
                CustomerAddress: $("#inputCustomerAddress").val(),
                CustomerMail: $("#inputCustomerEmail").val()
            },
            success: function (data) {
                $("tbody > tr").remove();
                createCustomerTable();
            }
        });
        $('.form-group > input').val('');
    });

    $("#btnDeleteCustomer").on("click", function () {
        $("input:checked").each(function () {
            $.ajax({
                url: "@Url.Action("DeleteCustomer", "Customer")",
                type: "POST",
                dataType: "json",
                data: { "id": this.parentElement.parentElement.getAttribute("customerid") },
                success: function () {
                    $("tbody > tr").remove();
                    createCustomerTable();
                }
            });
        });
    });

    $('.table tr').click(function (event) {
            if (event.target.type !== 'checkbox') {
                 $(':checkbox', this).trigger('click');
            }
        })
</script>
